/**
 * A simple drop-in typography mixin.
 */

@mixin textTypeA {
  color: $textColor;
  font: 400 22.5pt/1.25 Inter;
}

@mixin textTypeB {
  color: $textColor2;
  font: 400 10.5pt/1.25 Inter;
}

@mixin h1 {
  color: $black;
  font: 600 15pt/1.25 Inter;
}

@mixin h3 {
  color: $textColor;
  font: 500 10.5pt/1.25 Inter;
  margin: 20px 0 12px;
  text-transform: uppercase;
}

@mixin typography {
  font: 14pt/1.5 Inter;

  code {
    font-family: monospace;
    font-size: 0.9em;
  }

  em {
    font-style: italic;
  }

  h1 {
    font-size: 2.4em;
    margin-top: 0.6em;
  }

  h2 {
    font-size: 2.1em;
    margin-top: 0.6em;
  }

  h3 {
    font-size: 1.8em;
    margin-top: 0.6em;
  }

  h4 {
    font-size: 1.6em;
    margin-top: 0.6em;
  }

  h5 {
    font-size: 1.4em;
    margin-top: 0.6em;
  }

  h6 {
    font-size: 1.2em;
    margin-top: 0.6em;
  }

  strong {
    font-weight: bold;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.2em;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.2em;
  }

  li,
  ol,
  p,
  pre,
  ul {
    margin: 0.3em 0;
  }

  pre {
    background: whitesmoke;
    font-family: monospace;
    font-size: 0.9em;
    overflow: auto;
    padding: 0.3em 0.6em;
    white-space: pre-wrap;
  }

  sub,
  sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
}
