@import "../../styles/mixins";

.container {
  display: flex;
  height: 791px;
  max-height: 791px;
  overflow-y: auto;
}

.editor {
  padding: 20px;
  margin: -30px;
  margin-left: 0;
  width: 520px;

  h1 {
    @include h1;
    flex: 1;
  }

  h3 {
    @include h3;
  }
}

.dangerButton {
  background: $red2;
  border: none;
  color: $white;
  margin-top: 20px;

  &:hover {
    background: $red;
  }
}

.header {
  align-items: center;
  display: flex;
}

.input {
  background: $lightGray2;
  border: none;
  border-radius: 4px;
  color: $textColor;
  font: 400 12pt/1.25 Inter;
  height: 40px;
  margin: 0 4px 10px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.5;
  }
}

.inputs {
  margin: 0 -20px;
}

.pillGroup {
  background: $white;
  padding: 10px 16px;
  margin: 0 -20px;
}

.saveButton {
  background: $linkColor;
  border: none;
  color: $white;
  margin-left: 20px;

  &:hover {
    background: $blue;
  }
}

.disabledButton {
  background: $blue !important;
  border: none;
  color: $white;
  margin-left: 20px;
}

.disabledDangerButton {
  background: $red !important;
  border: none;
  color: $white;
  margin-top: 20px;
}

.message {
  @include textTypeB;
  padding: 3px;
  max-width: 100%;
  box-sizing: border-box;
}
