@import "../../styles/mixins.scss";

:global {
  body.scrolling-disabled-by-modal {
    overflow: hidden;
  }
}

.overlay {
  background: $black;
  border: none;
  height: 100%;
  left: 0;
  opacity: 0.1;
  outline: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container {
  background: transparentize($color: $lightGray1, $amount: 0.05);
  box-shadow: 0 0 14px 1px rgba(38, 38, 40, 0.15);
  border-radius: 8px;
  max-height: 95vh;
  max-width: $screen-md;
  overflow: hidden;
  padding: 30px;
  min-width: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
