@import "../../../styles/mixins";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.title {
  @include textTypeA;
  margin-bottom: 20px;
}

.message {
  @include textTypeB;
  padding: 0 20% 20px;
  max-width: 100%;
  box-sizing: border-box;
}
