@import "../../../styles/mixins";

.button {
  align-items: center;
  background: $white;
  border: 2px solid $linkColor;
  border-radius: 4px;
  color: $linkColor;
  cursor: pointer;
  display: inline-flex;
  font: 300 26px/1 Inter;
  height: 30px;
  justify-content: center;
  margin: 4px;
  width: 30px;
  vertical-align: top;

  &:hover {
    background: transparentize($color: $blue, $amount: 0.6);
  }
}
