@import "../../styles/mixins";

.container {
  border: 1px solid $lightGray2;
  border-radius: 10px;
  margin: 20px 0;
  width: 360px;
}

.content {
  padding: 20px;
}

.switch {
  cursor: pointer;
  padding: 5px;

  &.closed {
    transform: rotateX(180deg)
  }

  &:hover {
    stroke: red;
  }
}

.title {
  align-items: center;
  border-bottom: 1px solid $lightGray2;
  color: $black;
  display: flex;
  font: 600 13.5pt/1.25 Inter;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
}
