/* importing colors */
@value colors: "../../styles/colors.module.css";
@value gray1, gray1_025 from colors;

/* Tabs */
.tabs {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border-radius: 5px;
  height: 40px;
}

.tabContainer {
  cursor: pointer;
  width: 106px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  font-family: Helvetica;
  font-size: 16px;
  color: gray1;
  background:white;

  border-top: 1px solid gray1_025;
  border-bottom: 1px solid gray1_025;
  border-left: 1px solid gray1_025;
}

.tabContainerLeft {
  composes: tabContainer;
  border-top: 1px solid gray1_025;
  border-bottom: 1px solid gray1_025;
  border-left: 1px solid gray1_025;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tabContainerRight {
  composes: tabContainer;
  border-top: 1px solid gray1_025;
  border-bottom: 1px solid gray1_025;
  border-right: 1px solid gray1_025;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabContainerSelected {
  composes: tabContainer;
  background: gray1;
  color: white;
  border-top: 1px solid gray1;
  border-bottom: 1px solid gray1;
  border-left: 1px solid gray1;
}

.tabContaineLeftSelected {
  composes: tabContainerLeft;
  background: gray1;
  color: white;
  border-top: 1px solid gray1;
  border-bottom: 1px solid gray1;
  border-left: 1px solid gray1;
}

.tabContaineRightSelected {
  composes: tabContainerRight;
  background:gray1;
  color: white;
  border-top: 1px solid gray1;
  border-bottom: 1px solid gray1;
  border-right: 1px solid gray1;
}