@import "../../styles/mixins";

/* importing colors */
@value colors: "../../styles/colors.module.css";
@value gray1_025, green1, white, black_024 from colors;

.container {
  align-items: center;
  display: inline-flex;
}

.label {
  color: $textColor3;
  font: 500 10.5pt/1.25 Inter;
  margin-right: 7px;
}

.checked .label {
  color: $textColor;
}


/* Switch */
.switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 48px;
  height: 26px;
  background-color: gray1_025;
  border-radius: 13px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 44px;
  height: 22px;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px black_024;
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.switch input { display: none; }

.switch input:checked + i {
  background-color: green1;
}

.switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.switch input:checked + i::after {
  transform: translate3d(24px, 2px, 0);
}
