/* importing colors */
@value colors: "../../styles/colors.module.css";
@value lightGray from colors;

/* Searchbox */
.searchbox {
  position: relative;
  overflow: hidden;

  background-color: lightGray;
  border: 0;
  border-radius: 5px;

  height: 20px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
}

.searchboxItems {
  align-items: center;
  display: inline-flex;
  font-family: Helvetica;
  font-size: 18px;
  height: 20px;
  position: relative;
}

.searchboxIcon {
  background: url("/sprites.png") no-repeat -1px -1px;
  width: 20px;
  height: 20px;
}

.searchboxInput {
  border: 0;
  margin-left: 12px;
  margin-top: 1px;

  background-color: lightGray;

  font-family: Helvetica;
  font-size: 16px;
}

.searchboxInput::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.searchboxInput:focus,
.searchboxInput:focus,
.searchboxInput:focus {
  outline: none;
}

.resetKeyword {
  appearance: none;
  border: none;
  color: #55596c;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.resetKeywordHidden {
  visibility: hidden;
}

.resetKeyword:hover {
  color: #fd827a;
}
