/* Icons */

.iconSearch {
  background: url("/sprites.png") no-repeat -39px -1px;
  width: 39px;
  height: 32px;
}

.iconSearchActive {
  background: url("/sprites.png") no-repeat -1px -35px;
  width: 39px;
  height: 32px;
}

.iconGroup {
  background: url("/sprites.png") no-repeat -42px -35px;
  width: 26px;
  height: 32px;
}

.iconGroupActive {
  background: url("/sprites.png") no-repeat -70px -35px;
  width: 26px;
  height: 32px;
}

.iconUpload {
  background: url("/sprites.png") no-repeat -1px -69px;
  width: 32px;
  height: 32px;
}

.iconUploadActive {
  background: url("/sprites.png") no-repeat -35px -69px;
  width: 32px;
  height: 32px;
}

.larrow {
  background: url("/sprites.png") no-repeat -1px -52px;
  background-size: 49px 111px;
  width: 9px;
  height: 9px;
}
.larrowDisabled {
  background: url("/sprites.png") no-repeat -12px -52px;
  background-size: 49px 111px;
  width: 9px;
  height: 9px;
}

.rarrow {
  background: url("/sprites.png") no-repeat -23px -52px;
  background-size: 49px 111px;
  width: 9px;
  height: 9px;
}

.rarrowDisabled {
  background: url("/sprites.png") no-repeat -1px -63px;
  background-size: 49px 111px;
  width: 9px;
  height: 9px;
}

.edit {
  background: url("/sprites.png") no-repeat -12px -63px;
  background-size: 49px 111px;
  width: 19px;
  height: 19px;
}

.plus {
  background: url("/sprites.png") no-repeat -33px -66px;
  background-size: 49px 111px;
  width: 13px;
  height: 13px;
}

.cross {
  background: url("/sprites.png") no-repeat -1px -84px;
  background-size: 49px 111px;
  width: 9px;
  height: 9px;
}

.bookmark {
  background: url("/sprites.png") no-repeat -12px -83px;
  background-size: 49px 111px;
  width: 12px;
  height: 16px;
}

.chevronRightW {
  background: url("/sprites.png") no-repeat -25px -85px;
  background-size: 49px 111px;
  width: 7px;
  height: 13px;
}

.chevronDownG {
  background: url("/sprites.png") no-repeat -1px -100px;
  background-size: 49px 111px;
  width: 13px;
  height: 7px;
}
/* END Icons */
