/* Utility styles */

/** Margins **/
.mt16 {
    margin-top: 16px;
}

.mt32 {
    margin-top: 32px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml15 {
    margin-left: 15px;
}
