/* importing colors */
@value colors: "../../styles/colors.module.css";
@value gray1, gray2, gray1_025, white, blue from colors;

/* Group Tab filters (lett col) styles */
.groupTabFilters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 362px;
  width: 362px;

  margin-bottom: 50px;
}

.groupTabFiltersTitleContainer {
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupTabFiltersTitle {
  font-family: Helvetica;
  font-size: 18px;
  color: gray2;
  height: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.groupTabFiltersContent {
  margin-top: 32px;
  margin-bottom: 32px;
}

.groupTabFiltersContentSearch {
  display: flex;
  flex-direction: row;
}

.groupTabFiltersContentSearchbox {
  align-self: flex-start;
  margin-right: 0px;
  min-width: 247px;
}

.groupTabFiltersContentSearchCreate {
  align-self: flex-end;
  margin-left: auto;
}

.groupTabGroupsContainer {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  margin-top: 40px;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 14px;
  color: gray1;
}

.sectionItemsContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.sectionItemsContainer > div {
  margin-top: 20px;
}

.sectionItemsContainer > div:first-child {
  margin-top: 0px;
}

.sectionItem {
  cursor: pointer;
  width: 322px;
  border-radius: 10px;
  border: 1px solid gray1_025;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 21px;

  font-family: Helvetica;
  font-size: 18px;
  color: gray2;
}

.sectionItemTitle {
  color: gray2;
  word-break: break-word;
  padding-right: 12px;
}

.sectionItemBadge {
  align-self: center;
  margin-left: auto;
  color: gray1;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionItemSelected {
  composes: sectionItem;
  background-color: blue;
  border: none;

  padding-left: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 22px;
}

.sectionItemSelectedTitle {
  composes: sectionItemTitle;
  color: white;
}

.sectionItemSelectedBadge {
  composes: sectionItemBadge;
  color: white;
}

.sectionItemChevron {
  margin-left: 13px;
}
