@import "../../styles/mixins";

.availability {
  border: 1px solid $lightGray2;
  border-radius: 4px;
  color: $textColor;
  display: flex;
  font: 500 12pt/1.25 Inter;
}

.available {
  border-right: 1px solid $lightGray2;
  cursor: pointer;
  flex: 1;
  padding: 12px;
  text-align: center;

  &::before {
    background: $green;
    border-radius: 6px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 8px;
    width: 12px;
  }
}

.unavailable {
  cursor: pointer;
  flex: 1;
  padding: 12px;
  text-align: center;

  &::before {
    background: $textColor3;
    border-radius: 6px;
    content: "";
    display: inline-block;
    height: 12px;
    margin-right: 8px;
    width: 12px;
  }
}

.cardsHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 30px;
}

.mainArea {
  display: flex;
  padding-top: 30px;
  margin-bottom: 100px;
}

.pills {
  margin: 15px -5px 0;
}

.pill {
  color: $textColor;
  cursor: pointer;

  &.selected {
    background: $linkColor;
    border: 1px solid $linkColor;
    color: $white;
  }
}

.rightSide {
  flex: 1;
  margin-top: 10px;
}

.sideMenu {
  min-width: 460px;
}

.sort {
  color: $textColor;
  font: 400 12pt/1.25 Inter;
  position: relative;
  cursor: pointer;

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 0.5em;
    box-shadow: 2px 2px 4px 0 $shadow;
    background: $white;
    z-index: 998;
    border: 1px solid $black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  .dropdownItem {
    line-height: 1.5;
    text-align: right;
    padding: 0 24px;

    &:hover {
      background-color: $blue;
    }
  }

  .selected {
    background-color: $blue;
    color: $white;
  }
}

.sortMode {
  color: $black;
  cursor: pointer;
  margin: 0 10px;
}

.visibleCardsInfo {
  color: $black;
  font: 500 13.5pt/1.25 Inter;
}

.loadingContainer {
  min-width: 500px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  @include textTypeB;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.orgSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    margin-bottom: 20px;
    text-align: center;
  }

  .org {
    align-items: center;
    background: $white;
    border: 2px solid $lightGray2;
    border-radius: 4px;
    color: $textColor;
    display: inline-flex;
    font: 400 12pt/1 Inter;
    height: 30px;
    margin: 4px;
    padding: 0 10px;

    &:hover {
      border: 2px solid $blue4;
      color: $blue4;
      background-color: $white;
      cursor: pointer;
    }
  }
}
