@import "../../styles/mixins";

.logo {
  display: flex;
  align-items: center;
}

.accountMenu {
  align-items: center;
  color: $textColor;
  cursor: pointer;
  display: flex;
  font: 500 12pt/1.25 Inter;
  position: relative;
  justify-content: flex-end;
  min-width: 100px;

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 0.5em;
    box-shadow: 2px 2px 4px 0 $shadow;
    background: $white;
    z-index: 998;
    border: 1px solid $black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  .dropdownItem {
    line-height: 1.5;
    text-align: right;
    padding: 0 24px;

    &:hover {
      background-color: $blue;
    }
  }
}

.bottom {
  background: $lightGray2;
  height: 240px;
  overflow: hidden;
  position: relative;

  &::before {
    background: $green;
    border-radius: 420px;
    content: "";
    height: 830px;
    left: calc(50% - 850px);
    position: absolute;
    width: 830px;
    top: -700px;
  }

  &::after {
    background: $blue2;
    border-radius: 420px;
    bottom: -620px;
    content: "";
    height: 830px;
    left: calc(50% + 100px);
    position: absolute;
    width: 830px;
  }
}

.downArrow {
  margin-left: 15px;
}

.menu {
  bottom: -2px;
  left: 60px;
  position: absolute;
}

.menuIcon {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  fill: $textColor2;
  padding: 20px;
  stroke: $textColor2;

  &:hover {
    fill: $linkColor;
    stroke: $linkColor;
  }

  &.current {
    border-bottom: 2px solid $linkColor;
    fill: $linkColor;
    stroke: $linkColor;
  }
}

.search {
  align-items: center;
  background: $lightGray2;
  border-radius: 4px;
  display: inline-flex;
  height: 50px;
  padding: 0 25px;
  position: relative;
}

.searchInput {
  background: none;
  border: none;
  color: $textColor;
  font: 400 13.5pt/1.25 Inter;
  outline: none;
  padding: 0 10px;

  &::placeholder {
    opacity: 0.5;
  }
}

.title {
  color: $black;
  font: 500 26.25pt/1.25 Inter;
  margin: 60px 0 0 60px;
  position: relative;
  z-index: 3;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
}

.resetKeyword {
  appearance: none;
  border: none;
  color: $textColor;
  cursor: pointer;
  font-size: 24px;
  outline: none;

  &:hover {
    color: $red;
  }
}
