@import "../../styles/mixins";

.close {
  appearance: none;
  background: $white;
  border: none;
  color: $textColor;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  margin-right: -6px;

  &:hover {
    color: $red;
  }
}

.container {
  align-items: center;
  background: $white;
  border: 2px solid $lightGray2;
  border-radius: 4px;
  color: $textColor;
  display: inline-flex;
  font: 400 12pt/1 Inter;
  height: auto;
  margin: 4px;
  padding: 0 10px;
  word-break: break-word;
}

.pillName {
  overflow: hidden;
  text-overflow: ellipsis;
}
