/* importing colors */
@value colors: "../../styles/colors.module.css";
@value gray_overlay, gray1, gray2, white_95, lightGray, white from colors;

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: gray_overlay;
  z-index: 99999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 60px auto;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;

  display: flex;
  flex-direction: column;
}

.popupContent {
  background-color: white_95;
  width: 500px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.popupHeader {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 23px;

  display: flex;
  flex-direction: column;
}

.popupTitle {
  font-family: Helvetica;
  font-size: 20px;
  color: gray2;
}

.popupSectionBody {
  max-height: 188px;
  overflow-y: auto;
}

.popupSectionTitle {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;

  font-family: Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  color: gray1;
}

.popupSectionRow {
  margin-left: 0px;
  margin-right: 0px;
  height: 46px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-top: 1px solid lightGray;
}

.popupSectionRowText {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  align-self: flex-start;

  font-family: Helvetica;
  font-size: 16px;
  color: gray2;
}

.popupSectionRowSwitch {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  align-self: flex-end;
}

.popupFooter {
  margin-top: auto;
  align-self: flex-end;
  min-height: 80px;
}

.popupFooterContent {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
}
