/**
 * Color constants.
 */

$gray: #55596c;
$lightGray1: #f6f6f6;
$lightGray2: #eee;
$lightGray3: #eff0f5;
$lightGray4: #dddee2;
$lightGray5: #d4d5da;

$linkColor: #00a3ff;

$textColor: #55596c;
$textColor2: #a1a3ad;
$textColor3: #aaacb5;
$textColor4: #808391;

$orange: #ffb762;
$blue: #8cd6ff;
$blue2: #56ccf2;
$blue3: #2d9cdb;
$blue4: #00a3ff;
$green: #60ec77;
$green2: #0fe030;
$purple: #bb6bd9;
$purple2: #9b51e0;
$red: #fd827a;
$red2: #ff6262;
$yellow: #f2c94c;

$black: #252526;
$white: white;

$shadow: #eff0f5;
