/* importing colors */
@value colors: "../../styles/colors.module.css";
@value gray1, gray1_05 white from colors;

/* WideButton */
.wideButton {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid gray1_05;
  background-color: white;
  width: 100%;
  height: 40px;
  font-family: Helvetica;
  font-size: 16px;
  color: gray1;
  outline: none;
}