@value gray1: #55596C;
@value gray1_05: rgba(85,89,108, 0.5);
@value gray1_025: rgba(85,89,108, 0.25);
@value gray1_0125: rgba(85,89,108, 0.125);
@value gray2: #252526;
@value gray3: #282c34;
@value gray4: #e6e6e6;
@value white: #FFFFFF;
@value white_95: rgba(246, 246, 246, 0.95);
@value green1: #60EC77;
@value green2: #0FE030;
@value lightGray: #EEEEEE;
@value blue: #00A3FF;
@value lightBlue: #8CD6FF;
@value gray_overlay: rgba(37,37,38, 0.1);
@value black_024: rgba(0, 0, 0, 0.24);
