@import "../../../styles/mixins.scss";

.content {
  align-items: center;
  border: 1px dashed #a5a7b1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 55px;
  padding: 140px 0;
  position: relative;
  user-select: none;
  z-index: 1;

  a {
    color: $linkColor;
  }
}

.dragover {
  background: rgba(0, 0, 0, 0.2);
}

.fileInput {
  display: none;
}

.label1 {
  @include textTypeA;
  margin-bottom: 20px;

  a {
    font-weight: 600;
    text-decoration: none;
  }
}

.browse {
  color: $linkColor;
  cursor: pointer;
}

.label2 {
  @include textTypeB;
  margin-bottom: 25px;
}

.label3 {
  color: $linkColor;
  cursor: pointer;
  font: 500 12pt/1.25 Inter;
  text-decoration: underline;
  text-underline-position: under;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
